@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #5C258D 0%, rgba(67, 137, 162, 0.84) 100%);
    background-attachment: fixed;
}
.jumbotron img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}
.jumbotron h3 {
    color: #00FFF0;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: 800;
}
.jumbotron h5 {
    color: white;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: 600;
}
.jumbotron p {
    color: white;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
}
.footer {
    display: flex;
    justify-content: space-evenly;
}
.logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.link a {
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Philosopher', sans-serif;
}
.info h5 {
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.follow h5 {
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.creator a{
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Philosopher', sans-serif;
}
.creator h5 {
    color: white;
    font-weight: 500;
    color: white;
    font-family: 'Philosopher', sans-serif;
}
.sosmed img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .jumbotron p {
        font-size: 3vw;
        text-align: center;
    }
    #contact {
        text-align: center;
    }
    hr {
        width: 200px;
    }
    .footer {
        display: block;
        text-align: left;
        margin-left: 40px;
    }
    .logo {
        margin-bottom: 30px;
    }
    .info {
        margin-bottom: 30px;
    }
    .follow {
        margin-bottom: 30px;
    }
    .creator {
        margin-bottom: 30px;
    }
}
