@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #5C258D 0%, rgba(67, 137, 162, 0.84) 100%);
    background-attachment: fixed;
}
.title h5{
    color: white;
    text-align: center;
    margin-top: 60px;
    font-family: 'Philosopher', sans-serif;
    font-weight: 800;
}
.countdown {
    text-align: center;
}
.time {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.box1 {
    width: 80px;
    height: 100px;
    background-color: #E3FDFF;
    border-radius: 8px;
}
.box2 {
    width: 80px;
    height: 100px;
    background-color: #E3FDFF;
    border-radius: 8px;
}
.box3 {
    width: 80px;
    height: 100px;
    background-color: #E3FDFF;
    border-radius: 8px;
}
.box4 {
    width: 80px;
    height: 100px;
    background-color: #E3FDFF;
    border-radius: 8px;
}
.box1 h6 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    color: black;
}

.box2 h6{
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    color: black;
}
.box3 h6 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    color: black;
}
.box4 h6 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    color: black;
}
.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
    margin-bottom: 60px;
}
.desc {
    color: white;
}
.desc h2 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.desc p {
    font-family: 'Philosopher', sans-serif;
    text-align: justify;
}
.lomba h4{
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    color: white;
    font-weight: 600;
}
.lomba hr {
    width: 1220px;
    color: white;
}
.row2 img {
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-out;
}
.row3 img {
    width: 200px;
    height: 200px;
    transition: all 0.5s ease-out;
}
.row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}
.row3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.footer {
    display: flex;
    justify-content: space-evenly;
}
.logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.link a {
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Philosopher', sans-serif;
}
.info h5 {
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.follow h5 {
    color: white;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.creator a{
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Philosopher', sans-serif;
}
.creator h5 {
    color: white;
    font-weight: 500;
    color: white;
    font-family: 'Philosopher', sans-serif;
}
.sosmed img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.row2 img:hover {
    width: 220px;
    height: 220px;
}
.row3 img:hover {
    width: 220px;
    height: 220px;
}
@media only screen and (max-width:768px) {
    .about {
        display: block;
        text-align: center;
    }
    .desc p {
        text-align: center;
        font-size: 2.5vw;
    }
    hr {
        width: 200px;
    }
    .row2 {
        display: block;
        text-align: center;
    }
    .row3 {
        display: block;
        text-align: center;
    }
    .footer {
        display: block;
        text-align: left;
        margin-left: 40px;
    }
    .logo {
        margin-bottom: 30px;
    }
    .info {
        margin-bottom: 30px;
    }
    .follow {
        margin-bottom: 30px;
    }
    .creator {
        margin-bottom: 30px;
    }
}
