@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(180deg, #5C258D 0%, rgba(67, 137, 162, 0.84) 100%);
    background-attachment: fixed;
}
.jumbotron img {
    width: 380px;
    height: 380px;
    display: block;
    margin: auto;
}
.jumbotron h3 {
    color: #00FFF0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
.jumbotron h5 {
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.jumbotron p {
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.form {
    width: 90px;
    height: 57px;
    background: #75FFEE;
    border-radius: 8px;
    text-align: center;
    align-items: center;
}
.form a {
    color: black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-top: 30px;
}
.Juknis {
    width: 170px;
    height: 57px;
    background: #75FFEE;
    border-radius: 8px;
    text-align: center;
}
.Juknis a {
    color: black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px; 
}

 .info h5 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.follow h5 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.creator a{
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Inter', sans-serif;
}
.creator h5 {
    color: white;
    font-weight: 500;
    color: white;
    font-family: 'Inter', sans-serif;
}
.logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.link a {
    text-decoration: none;
    display: block;
    color: white;
    font-family: 'Inter', sans-serif;
}
.sosmed img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.icon{
    width: 200px;
    height: 200px;
    position: relative;
    margin-right: 10px;

}
    
.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
    margin-bottom: 60px;
}

.about-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 90px;
    margin-bottom: 60px;
}

    